.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navigation {

}
.main-content {
  display: flex;
  flex-flow: row wrap;
  min-height: 100%;
}

.map-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  /*flex-grow: 1;
  order: 2;
  flex-basis: 50vw;*/
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 1;
}

.search-field {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  background-color: #463f42;
  z-index: 2;
  border-style: none;
}

.venues {
  width: 25%;
  background-color: #463f42;
}

.search-field input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
}

.empty-search {
  position: relative;
  top: 50%;
  font-size: 1.2em;
  color: #fffff4;
  padding-left: 15px;
  text-align: center;
}

.type-something {
  text-align: center;
}

.venue-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  color: #fffff4;
  font-size: 1.2em;
  line-height: 1.8;
  background-color: #463f42;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 3;
  width: 25%;
}

.venue-list::-webkit-scrollbar {
  width: 0;
}
.venue-list ol {
  text-align: left;
  padding-left: 15px;
  list-style: none;
}

.venue-list-item {
  padding-top: 10px;
}


.venue-contents {
  width: 25%;
  line-height: 0.8;
  background-color: #463f42;
  color: #fffff4;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 1.0em;
  /*border-radius: 5%;*/
  z-index: 3;
  height: 100%;
}
.venue-info-wrapper {
  background-color: #ebedea;
  box-sizing: border-box;
  width: 100%;
  color:gold;
  padding: 5px 0 15px 0;
;
}
.venue-contents img {
  width: 75%;
}
.venue-name {
  text-align: left;
}
.venue-rating {
  text-align: left;
}
.venue-info-wrapper {
  text-align: left;
}
.venue-tips {
  text-align: left;
  list-style: none;
  padding: 0;
}

.venue-address {
  display: block;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.venue-open-status {
  display: block;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
